#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  max-width: 1480px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
}

.container {
  display: flex;
  width: 100%;
}

.google-scholar-icon {
  padding: 0;
}

.copyright-text {
  font-size: 0.9em;
  color: var(--color-scheme-1);
  text-align: center;
  margin-top: 5rem;
}